#cy {
    width: 100%;
    height: calc(100% - 70px);
    position: absolute;
    left: 0;
    top: 70px;
    z-index: 999;
}

#graph-container {
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }
