.card-grid {
  display: flex;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  min-width: 400px;
  max-width: 800px;
  border: 1px solid lightgray;
  margin: 10px;
  flex: 1 1 0;
}

.card-head {
  padding: 10px;
  text-align: center;
}

.card-content {
  height: 200px;
  padding: 20px;
}

.download {
  background: #9DC5BB;
  background-image: url('assets/file_white.png');
  background-position: center;
  background-size: 25%;
  background-repeat: no-repeat;
  cursor: pointer;
}

#enr-stats, #enr-logs {
  background: #9DC5BB;
  color: white;
  text-align: center;
  line-height: 1.6;
}

#enr-logs {
  line-height: 1.2;
}

.enr-num {
  font-size: 44px;
  font-weight: bold;
}

.shacl-conf, .shacl-rep {
  background: #5E807F;
}

.shacl-conf {
  background-image: url('assets/upload_white.png');
  background-position: center;
  background-size: 20%;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}

#SHACLFile {
  height: 170px;
  opacity: 0;
  cursor: pointer;
}

.shacl-rep {
  background-image: url('assets/shacl.png');
  background-position: center;
  background-size: 20%;
  background-repeat: no-repeat;
  cursor: pointer;
}

#ont-stats {
  background: #5E807F;
  color: white;
  text-align: center;
  line-height: 0.85;
}

.wheel, .graph {
  background: #DEE5E5;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.wheel {
  background-image: url('assets/wheel.gif');
}

.graph {
  background-image: url('assets/graph.gif');
}

#download {
  width: 100px;
  height: 20px;
  background: lightblue;
  display: none; color:
  white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#spinner {
  width: 200px;
  position: fixed;
  top: calc(50% - 100px);
}
