.card {
  min-width: 300px;
  border: 1px solid lightgray;
  margin: 10px;
}

.card-head {
  padding: 10px;
  text-align: center;
}

.card-content {
  height: 100px;
  background: #B3EFB2;;
  padding: 20px;
}

#download {
  width: 100px;
  height: 20px;
  background: lightblue;
  display: none; color:
  white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}