.me-overview {
  background-color: #0e7c7c;
}

.search-wrap {
  position: sticky;
  width: 100%;
  background: white;
  top: 0;
}

.search {
  border: 0;
  outline: none;
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
  width: 100%;
}

.list-element {
  margin: 5px 0;
}

.index-content {
  width: 250px;
}

#standardsList, #standardOrganizationsList, #predicatesList, #info {
  display: flex;
  flex-direction: column;
  height: 440px;
}

.stat-name {
  color: gray;
}

.spinner {
  width: 100px;
  position: absolute;
  margin-left: 75px;
  margin-top: 185px;
}
