h1 { color: blue; }

body { margin: 0; }

.head {
  height: 70px;
  color: white;
  background-color: #008b8b;
  margin: auto 0;
  padding: 10px;
  font-size: 62px;
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  margin-left: 20px;
}

.menu-link {
  align-self: flex-end;
  text-decoration-line: none;
  color: #f8f8f8;
}

.menu-block {
  border-left: 1px solid lightgray;
  padding: 5px 20px;
  cursor: pointer;
}

.menu-block:hover {
  background-color: #0e7c7c;
}

.active {
  background-color: #0e7c7c;
}

.content {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
}

.block {
  background-color: white;
  padding: 10px;
  border: 1px solid lightgray;
  height: 500px;
}

.block-title {
  font-size: 20px;
}

.block-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10px 0 5px 0;
  padding: 0 10px;
  overflow: auto;
}
