* {
  font-family: initial;
  line-height: initial;
  text-decoration: none !important;
}

.head {
  display: none;
}
  
#chart { text-align: center; }
  
.dependencyWheel { font: 16px sans-serif; }
  
.container {
  margin: 0;
  padding: 0;
}
  
.spinner {
  display: none;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 75px);
}
  
.wheel-menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  width: 150px;
  border: 1px solid lightgray;
}
  
.save-btn {
  background-color: darkcyan;
  cursor: pointer;
  color: white;
  margin: 10px;
  padding: 5px;
  text-align: center;
}
