{% extends "app.html" %}
{% block content %}

<div id="container" class="container">
  <img src="assets/spinner.gif" id="spinner" class="spinner" />
  <div id="chart"></div>
  <div class="wheel-menu">
    <div class="menu-element" onclick="saveAsPng()">Save as PNG</div>
    <select class="menu-element" id="optionsSelect"></select>
  </div>
  <div class="legend">
    <div class="legend-element">
      <div class="legend-color" style="background: gray;"></div>
      <span class="legend-title">-</span>
      <span class="legend-title">Subject node</span>
    </div>
    <div class="legend-element">
      <div class="legend-color" style="background: lightgray;"></div>
      <span class="legend-title">-</span>
      <span class="legend-title">Unchanged predicate</span>
    </div>
    <div class="legend-element">
      <div class="legend-color" style="background: lightgreen;"></div>
      <span class="legend-title" >-</span>
      <span class="legend-title" >Predicate with new objects</span>
     </div>
     <div class="legend-element">
      <div class="legend-color" style="background: lightblue;"></div>
      <span class="legend-title" >-</span>
      <span class="legend-title" >Newly added predicate</span>
    </div>
  </div>
</div>

<script src="libs/d3.v4.min.js"></script>
<script src="libs/d3.dependencyWheel.js"></script>
<script src="libs/saveSvgAsPng.js"></script>
<script src="wheel.js"></script>

{% endblock %}